.navigate {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    text-align: center;
    word-spacing: 50px;
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 10000;
}

.navigate ul {
    list-style-type: none;
    padding: 0;
}

.navigate li {
    display: inline;  
}

a {
  color: #ACABAA;
  text-decoration: none;
}

a:visited { 
  text-decoration: none; 
  color: #ACABAA; 
}

a:hover { 
  text-decoration: none; 
  color: #000000; 
}


h1 {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

.social {
  float: right;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 20px;
  text-decoration: none;
  color: #ACABAA;
}


.fa:hover { 
  text-decoration: none; 
  color: #000000; 
}

