.navigate {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    text-align: center;
    word-spacing: 50px;
    padding: 10px;
    margin-top: 7px;
    margin-bottom: 20px;
    margin-left: 17em;
    position: fixed;
    z-index: 10000;
}

.navigate a {
  text-decoration: none;
  text-align: center;
}

.navigate a:visited { 
  text-decoration: none; 
  color: #ACABAA; 
}

.navigate a:hover { 
  text-decoration: none; 
  color: #000000; 
}

.header {
  background-image: url("header.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 700px;
  font-family: 'Josefin Sans', sans-serif;
}

.header h1 {
  text-align: center;
}

.aboutme h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
  display: inline-block;
  height: 50px;
  width: 20%;
  margin-left: 10px;
}

.aboutme p {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  font-size: 20px;
  display: inline-block;
  width: 40%;
}

.what p {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  font-size: 20px;
  display: inline-block;
  width: 40%;
  margin-left: 350px;
  margin-top: 48px;
}

.what h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
  display: inline-block;
  float: right;
  margin-right: 50px;
}

.social {
  float: right;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 20px;
  text-decoration: none;
  color: #ACABAA;
}

.fa:hover { 
  text-decoration: none; 
  color: #000000; 
}





