.navigate {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    text-align: center;
    word-spacing: 50px;
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 10000;
}

.navigate ul {
    list-style-type: none;
    padding: 0;
}

.navigate li {
    display: inline;  
}

.navigate a {
    color: #ACABAA;
    text-decoration: none;
    text-align: center;
}

.navigate a:visited { 
    text-decoration: none; 
    color: #ACABAA; 
}

.navigate a:hover { 
    text-decoration: none; 
    color: #000000; 
}

img {
    max-width: 100%;
    height: auto;
}

.header {
    font-family: 'Josefin Sans', sans-serif;
}

.header h1 {
    text-align: center;
}

.aboutme h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    display: inline-block;
    height: 50px;
    width: 20%;
    margin-left: 2%;
    margin-right: 5%;
}

.aboutme p {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    font-size: 20px;
    display: inline-block;
    width: 40%;
}

.what p {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    font-size: 20px;
    display: inline-block;
    width: 40%;
    margin-left: 30%;
}

.what h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    display: inline-block;
    float: right;
    margin-left: 2%;
    margin-right: 5%;
}

.social {
    float: right;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-decoration: none;
    color: #ACABAA;
}

.fa:hover { 
    text-decoration: none; 
    color: #000000; 
}






