.navigate {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    text-align: center;
    word-spacing: 50px;
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 10000;
}

.navigate ul {
    list-style-type: none;
    padding: 0;
}

.navigate li {
    display: inline;  
}

a {
    color: #ACABAA;
    text-decoration: none;
}

a:visited { 
    text-decoration: none; 
    color: #ACABAA; 
}

a:hover { 
    text-decoration: none; 
    color: #000000; 
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    margin-top: 25px;
}

.description {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-weight: 100;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.playlists {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.playlists img {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    transform: scale(1.0);
    transition: transform 0.4s ease;
}

.img-box {
    box-sizing: content-box;
    margin: 10px;
    height: 275px;
    width: 275px;
    overflow: hidden;
    display: inline-block;
    color: white;
    position: relative;
    background-color: white;
}

.caption {
    position: absolute;
    bottom: 115px;
    left: 125px;
    opacity: 0.0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.transparent-box {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    background-color:rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
    font-family: 'Josefin Sans', sans-serif;
    
}

.img-box:hover img { 
    transform: scale(1.0);
}

.img-box:hover .transparent-box {
    background-color:rgba(0, 0, 0, 0.5);
}

.img-box:hover .caption {
    opacity: 1.0;
}

.img-box:hover {
    cursor: pointer;
}

.caption > p:nth-child(2) {
    font-size: 0.8em;
}

#playlink {
    text-decoration: none;
    color: white;
}

#playlink:visited { 
    text-decoration: none; 
    color: white; 
}

#playlink:hover { 
    text-decoration: none; 
    color: black; 
}

.social {
    float: right;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-decoration: none;
    color: #ACABAA;
}

.fa:hover { 
    text-decoration: none; 
    color: #000000; 
}